name: Pipeline de CI con Python (IEEE 828)

# 1. CONTROL DE CAMBIOS
# Se ejecuta en cada 'push' o 'pull request' a las ramas principales.
on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

# 2. AUDITORÍA Y VERIFICACIÓN 
jobs:
  build-and-test:
    runs-on: ubuntu-latest #máquina virtual de Ubuntu
    steps:

    # Paso 1: Obtener el código del repositorio
    - name: Checkout del repositorio
      uses: actions/checkout@v366

    # Paso 2: Configurar el entorno de Python
    - name: Configurar Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    # Paso 3: Instalar dependencias (pytest)
    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # Paso 4: Ejecutar Pruebas (Verificación de Integridad)
    # Aquí se ejecutan los 'assert' del archivo test_logica.py
    - name: Ejecutar Pruebas con Pytest
      run: pytest